

.rule-title {
    text-align: center;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}

.black {
    background-color: black;
}


